* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

#content {
    width: 50vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}

.home {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.home h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.home p {
    font-size: 1.25rem;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav button {
    background-color: #fff;
    border: solid 1px #333;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav button:hover {
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
}

.nav button:active {
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80%;
    border-bottom: solid 1px #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.menu-item-name {
    font-size: 1.25rem;
    margin: 0.5rem;
}

.menu-item-description {
    font-size: 1rem;
    text-align: center;
}

.menu-item-price {
    font-size: 1rem;
    margin: 0.5rem;
    font-weight: bold;
    font-style: italic;
}

.menu-item:hover {
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-text {
    font-size: 1.25rem !important; 
    margin: 0.5rem;
}

.contact p {
    font-size: 1rem;
    margin: 0.5rem;
}

.contact-outro {
   border-top: solid 1px #333;
    padding: 0.5rem;
    margin-top: auto !important;
}